# cargo-release configuration
# https://github.com/crate-ci/cargo-release/blob/master/docs/reference.md

# Allow releasing from any branch
allow-branch = ["main", "dev", "feat/*"]
# Tag format for releases
tag-name = "v{{version}}"
# Don't sign tags or commits
sign-tag = false
sign-commit = false
# Consolidate commits for workspace release
consolidate-commits = true

# Pre-release replacements
[[pre-release-replacements]]
file = "CHANGELOG.md"
search = "## \\[Unreleased\\]"
replace = "## [Unreleased]\n\n## [{{version}}] - {{date}}"
exactly = 1

[[pre-release-replacements]]
file = "README.md"
search = 'elicitation = "[0-9.]+"'
replace = 'elicitation = "{{version}}"'
exactly = 1

# Per-crate settings (if needed)
# [package.elicitation]
# [package.elicitation_derive]
